.footer {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #F5F5F5;
    justify-content: space-between;
    padding: 8px 40px;
    font-size: 12px;
    font-weight: 500;
    color: #565656;
    background: white;

    img {
        width: 46.04px;
        height: 53.36px;
    }
}

.link {
    text-decoration: none;
    color: inherit;
}