.header {
    background: var(--color-base-100);
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    nav {
        background-color: var(--color-white);
        width: auto;
        gap: 60px;
        display: flex;
        padding: 8px 100px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 400;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 48rem) {
            width: 100%;
        }

        .hamburger {
            display: none;
            flex-direction: column;
            justify-content: space-between;
            width: 24px;
            height: 18px;
            cursor: pointer;
        }

        .start {
            display: flex;
            align-items: center;
            gap: 28px;

            a {
                color: black;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 113.29px;
            height: 40.05px;
        }

        .logo img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .end {
            display: flex;
            gap: 28px;
            align-items: center;
            width: auto;

            a {
                width: auto;
                white-space: nowrap;

                &:hover {
                    text-decoration: underline;
                }
            }

            section {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }
}

@media (max-width: 48rem) {
    .header {
        margin-bottom: 0;

        .logo {
            width: 46px !important;
            height: 53px !important;
        }
    }

    .header nav {
        padding: 1rem;
        gap: 0;
    }

    .header nav .start,
    .header nav .end {
        display: none;
    }

    .header nav .hamburger {
        display: flex;
    }
}