.section1 {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .h1 {
        font-weight: bold;
    }
}

.about {
    section {
        width: 100%;
    }

    span {

        color: #99331A;
        font-weight: 700;
        font-size: 18px;
    }
}



.section2 {
    display: grid;
    grid-template-columns: 1fr 494px;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 40px;

    gap: 16px;

    .span {
        font-size: 18px;
        color: var(--color-primary);
    }

    .text {
        .text {
            white-space: pre-line;
        }
    }

    .description {
        align-self: end;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }


    .img {
        border-radius: 20px;
        overflow: hidden;
        grid-column: 2;
        grid-row: -1 / 1;


    }

}

@media (max-width: 768px) {
    .section2 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        margin-bottom: 120px;

        .img {
            grid-column: 1;
            grid-row: 2;
        }

    }
}