.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
}

.card {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

/* Titres */
.card h1 {
    font-size: 26px;
    font-weight: 700;
    color: var(--color-primary);
    text-align: center;
}

.card h3 {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
}

.fieldset {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.label {
    font-size: 14px;
    color: #0D0D0D;
    font-weight: 500;
}

.error {
    color: var(--color-primary);
    font-size: 12px;
}

.checkboxWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    color: #565656;

    input {
        margin-top: -1px;
    }

    >span {
        font-size: 11px;
        color: #565656;

        a {
            color: inherit;
        }
    }
}


.input:focus {
    border-color: var(--color-primary);
}

.input-error {
    border-color: var(--color-primary);
}

.btn {
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.btn-red {
    background-color: var(--color-primary);
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.btn-red:hover {
    background-color: #8a2f1a;
}

.link {
    color: var(--color-primary);
    font-size: 14px;
    text-align: center;

    strong:hover {
        text-decoration: underline;
    }
}